/** ------------------------------------------
* This file is generated automatically.
* See 'source' directory in theme or shortcode.
------------------------------------------ **/




body .shortcode-column.shortcode-baffb2b42778af18364d1aa4db0bfeff {
  padding: 50px 0px; }


html[dir="ltr"] body .shortcode-special-heading.shortcode-0ccdfcb5c39274afe56ca9ee0f27cee0 {
  padding: 5px 0 5px 30px;
  margin-bottom: 3.75rem; }
  html[dir="ltr"] body .shortcode-special-heading.shortcode-0ccdfcb5c39274afe56ca9ee0f27cee0:after {
    left: 0; }

html[dir="rtl"] body .shortcode-special-heading.shortcode-0ccdfcb5c39274afe56ca9ee0f27cee0 {
  padding: 5px 30px 5px 0;
  margin-bottom: 3.75rem;
  padding: 5px 0 5px 30px; }
  html[dir="rtl"] body .shortcode-special-heading.shortcode-0ccdfcb5c39274afe56ca9ee0f27cee0:after {
    right: 0;
    right: auto;
    left: 0; }

body .shortcode-special-heading.shortcode-0ccdfcb5c39274afe56ca9ee0f27cee0 {
  text-align: left; }
  body .shortcode-special-heading.shortcode-0ccdfcb5c39274afe56ca9ee0f27cee0:after {
    display: block;
    position: absolute;
    top: 0;
    width: 3px;
    height: 100%; }

@media screen and (max-width: 767px) {
  body .shortcode-special-heading.shortcode-0ccdfcb5c39274afe56ca9ee0f27cee0 {
    margin-bottom: 1.5625rem; } }


body .shortcode-column.shortcode-nc2b35cc359a01f84e8241b5a0e700d16 {
  text-align: center; }

body .shortcode-nc2b35cc359a01f84e8241b5a0e700d16 .my-col-with-logo {
  text-align: center; }

body .shortcode-image.shortcode-v0caa9f0aad2f97d51ec0eecb05b875ce img {
  height: 105px; }



body .shortcode-a70e3fcd306aab0ff13a133a8467a645 {
  margin: 40px auto 0 auto; }
