section.shortcode-section {
	position: relative;
}

section.shortcode-section > * {
	position: relative;
	z-index: 2;
}

section.shortcode-section .overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.row.muuri {
	position: relative;
}

.row.muuri > * {
	position: absolute;
}

/*
 * Custom shapes: https://bennettfeely.com/clippy/
*/

[data-custom-shape=parallelogram] {
    /*margin-top: -25px;
    margin-bottom: -25px;*/
	-webkit-clip-path: polygon(0 0, 100% 25px, 100% 100%, 0 calc(100% - 25px));
	clip-path: polygon(0 0, 100% 25px, 100% 100%, 0 calc(100% - 25px));
}

[data-custom-shape=parallelogram-right] {
    /*margin-top: -25px;
    margin-bottom: -25px;*/
	-webkit-clip-path: polygon(0 25px, 100% 0%, 100% calc(100% - 25px), 0 100%);
	clip-path: polygon(0 25px, 100% 0%, 100% calc(100% - 25px), 0 100%);
}

[data-custom-shape=parallelogram] .container,
[data-custom-shape=parallelogram-right] .container {
   padding: 15px 0px;
}

/**/

[data-custom-shape=top-left] {
	/*margin-top: -25px;*/
	-webkit-clip-path: polygon(0 0, 100% 25px, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 25px, 100% 100%, 0 100%);
}

[data-custom-shape=top-right] {
	/*margin-top: -25px;*/
	-webkit-clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
}

[data-custom-shape=bottom-left] {
	/*margin-bottom: -25px;*/
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 25px));
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 25px));
}

[data-custom-shape=bottom-right] {
	/*margin-bottom: -25px;*/
	-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 0 100%);
}